<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>footer</title>
</head>
<body>
<footer class="site-footer" th:fragment="footer-custom">
    <div class="footer-container">
        <!-- Colonna 1: Info e Logo -->
        <div class="footer-col">
            <h3>PokéCardDex</h3>
            <p>Il prodotto verrà utilizzato nel contesto di collezione e raccolta delle carte pokémon, nel contesto del
                collezionismo delle carte pokémon. </p>
        </div>

        <!-- Colonna 2: Link rapidi -->
        <div class="footer-col">
            <h4>Link Utili</h4>
            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#">Chi siamo</a></li>
                <li><a href="#">Servizi</a></li>
                <li><a href="#">Contatti</a></li>
            </ul>
        </div>

        <!-- Colonna 3: Contatti -->
        <div class="footer-col">
            <h4>Contatti</h4>
            <p>Email: -</p>
            <p>Telefono: -</p>
            <p>Indirizzo: -</p>
        </div>
    </div>

    <!-- Copyright -->
    <div class="footer-bottom">
        <p>Il brand Pokémon&trade; è di proprietà di Nintendo&reg;, Game Freak&reg; e &copy;Creatures Inc., questo
            prodotto non vuole sostituire il brand originale, tutti i diritti del marchio appartengono alle relative
            aziende</p>
    </div>
</footer>


</body>
</html>