<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>header</title>
</head>
<body>
<header class="site-header" th:fragment="header-custom">
    <div class="logo">
        <a href="#"><img th:src="@{/images/logo.png}" height="60px" alt="Logo"/></a>
    </div>
    <nav class="navbar">
        <ul>
            <li><a href="#">Home</a></li>
            <li><a href="#">Servizi</a></li>
            <li><a href="#">Chi siamo</a></li>
            <li><a href="#">Contatti</a></li>
        </ul>
    </nav>
</header>

</body>
</html>