<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org"
      th:replace="~{layout/base :: parent(
          title='Home Page',
          contentFragment=~{:: .page-content}
      )}">
<head>
    <title>Ignorato perché sostituito dal layout</title>
</head>
<body>
<!-- Questo tag corrisponde al selettore .page-content richiesto dal layout -->
<div class="page-content">
    <p>
        <img th:src="@{/images/mega_Darkrai-ex.png}" height="400px" style="position: absolute; left: 250px">
        <img th:src="@{/images/logo.png}" height="400px">
        <img th:src="@{/images/tyrantrum.png}" height="400px" style="position: absolute; right: 250px">
    </p>
    <h1>Benvenuto su POKÉCARDDEX!</h1>
    <h2>Uno dei pochi siti dedicati alla collezione delle celebri carte pokémon</h2>
</div>
</body>
</html>